
  
  .loan-summary-card {
    //background-color: #ffffff;
    border-radius: 10px;
    //margin: 10px;
    //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .loan-details ion-label {
    font-size: 0.9em;
    //color: #666;
  }
  
  .progress-label {
    font-size: 0.85em;
    text-align: right;
    margin-top: 5px;
    //color: #333;
  }
  