<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="closePage()" >
        <ion-icon  slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Liquidacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="preliquidacion" [fullscreen]="true">

    <ion-item class="custom-list" color="dark">
      <ion-label>Meta de recaudo </ion-label>
      <ion-label style="font-size: 25px;">{{preliquidacion.metaRecaudo}}</ion-label>
    </ion-item>
    <ion-item class="custom-list">
      <ion-label>Base entregado </ion-label>
      <ion-label>{{preliquidacion.baseEntregada}}</ion-label>
    </ion-item>
    <ion-item class="custom-list">
      <ion-label>Total recaudado </ion-label>
      <ion-label>{{preliquidacion.totalRecaudado}}</ion-label>
    </ion-item>
    <ion-item class="custom-list" detail="true" button id="open-modal-gastos" (click)="irGastos()">
      <ion-label>Total gastos </ion-label>
      <ion-label>{{preliquidacion.totalGastos}}</ion-label>
    </ion-item>
    <ion-item class="custom-list" detail="true" button id="open-modal-prestamos" (click)="irPrestamos()">
      <ion-label>Prestamos nuevos </ion-label>
      <ion-label>{{preliquidacion.totalPrestamosNuevos}}</ion-label>
    </ion-item>
    <ion-item class="custom-list" color="warning">
      <ion-label>Real a entregar </ion-label>
      <ion-label style="font-size: 25px;">{{preliquidacion.realEntregar}}</ion-label>
    </ion-item>
    <ion-item class="custom-list">
      <ion-label>Faltante generado </ion-label>
      <ion-label>{{preliquidacion.faltanteGenerado}}</ion-label>
    </ion-item>
    <ion-item class="custom-list">
      <ion-label>Sobrante generado </ion-label>
      <ion-label>{{preliquidacion.sobranteGenerado}}</ion-label>
    </ion-item>
    <ion-item class="custom-list" color="success">
      <ion-label>Entrega efectivo </ion-label>
      <ion-label><ion-input [(ngModel)]="preliquidacion.entregaEfectivo" fill="solid" style="font-size: 25px;"></ion-input></ion-label>
      
    </ion-item>

<br>
   <ion-button expand="full" (click)="totalizar()">Totalizar</ion-button>
      




    <ion-modal #modalGastos trigger="open-modal-gastos" >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{titulo}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modalGastos.dismiss()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <ion-list>
            <!-- <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Connor Smith</h2>
                <p>Sales Rep</p>
              </ion-label>
            </ion-item> -->
            <ion-item *ngFor="let gasto of gastos()" [detail]="false">
              <ion-badge slot="start" color="secondary">
                {{gasto.monto | currency}}
              </ion-badge>
              <ion-label>
                <h2><strong>{{gasto.nombre}}</strong></h2>
                <p>{{gasto.concepto}}</p>
              </ion-label>

            </ion-item>
            

          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modalPrestamos trigger="open-modal-prestamos" >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{titulo}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modalPrestamos.dismiss()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <!-- <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar> -->
          <ion-list>


  
              <ion-item *ngFor="let prestamo of prestamos()" [detail]="false">
              
                <!-- Badge para saldo -->
                <ion-badge slot="start" color="secondary">
                  {{prestamo.saldo | currency}}
                </ion-badge>
              
                <!-- Información del préstamo -->
                <ion-label>
                  <h2><strong>{{prestamo.cliente}}</strong></h2>
                  <p>Cuota <strong>{{prestamo.cuotasPagadas}}/{{prestamo.cuotas}}</strong></p>
                  <!-- <p><strong>{{prestamo.}}</strong></p> -->
                  <!-- <p><small>Saldo restante: {{prestamo.saldo | currency}}</small></p> -->
                </ion-label>
                

                @if(prestamo.estado =='PENDIENTE'){
                <ion-button shape="round" color="secondary" id="open-custom-dialog" size="default" *ngIf="!prestamo.isPago" 
   
                >
                  <ion-icon slot="icon-only" style="color: white;" name="cash"></ion-icon>
                </ion-button>
                }@else if(prestamo.estado =='NUEVO'){
                <ion-icon style="margin: 6px;" name="add-circle-outline" size="large" color="primary"></ion-icon>
                }
                @else if(prestamo.estado =='PAGADO'){
              
                <!-- <ion-label>{{prestamo.pagoDia}}</ion-label> -->
              
                <ion-badge slot="end" color="success">
                  {{prestamo.pagoDia | currency}}
                </ion-badge>
                <!-- <ion-icon style="margin: 6px;" name="checkmark-outline" size="large" color="success"></ion-icon> -->
                }
              
              
              </ion-item>
              

           
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>


</ion-content>
