<ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (click)="nuevoPrestamo()" >
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>
        Prestamos
      </ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [debounce]="500" placeholder="Buscar" (ionInput)="onSearch($event)" ></ion-searchbar>

      <ion-segment scrollable   value="todos">
      <ion-segment-button (click)="changeFilter('TODOS')" value="todos">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="changeFilter('PAGADO')" value="pagados">
        <ion-label>Pagados</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="changeFilter('PENDIENTE')" value="pendientes">
        <ion-label>Pendientes</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="changeFilter('NUEVO')" value="nuevos">
        <ion-label>Nuevos</ion-label>
      </ion-segment-button>
    </ion-segment>

    </ion-toolbar>

  </ion-header>

    <ion-item lines="full" >
      <ion-grid class="header-grid">
        <ion-row>
          <ion-col style="text-align: center;" size="12">
            <strong>Octubre 04 de 2024 - Ruta: ANGEL</strong>
          </ion-col>
        </ion-row>
        <ion-row> 
          <!-- Nueva columna 1: Meta 250 -->
          <ion-col style="text-align: left;" size="6">
            <strong>Creditos: {{prestamos().length}}</strong>
          </ion-col>
          <!-- Nueva columna 2: Cobrado 250 -->
          <ion-col style="text-align: right;" size="6">
            <strong>Cobrado: {{cobrado()}}</strong>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

     

  


    <ion-content [fullscreen]="true">
      <!-- <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher> -->
      
    <!-- <div style="height: 50px;"></div> -->

  
  
    <!-- Lista de préstamos -->
    <ion-list>
      <!-- <ion-list-header>
        Prestamos
      </ion-list-header> -->
            <app-prestamo *ngFor="let prestamo of prestamosByfilter();let i = index" [prestamo]="prestamo" [indice]="i" 
            (showPayInput)="showPayInput(i)"  (hidePayInput)="hidePayInput(i)" (pagarPrestamo)="pagarPrestamo(prestamo)"></app-prestamo>
    </ion-list>

    <!-- <ion-list *ngIf="prestamosByfilter().length <= 0 && !flagResponsePrestamo"  >

        <ion-item >
          <ion-thumbnail slot="start">
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            </h3>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
            </p>
          </ion-label>
          <ion-thumbnail slot="end">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
        </ion-item>
        <ion-item >
          <ion-thumbnail slot="start">
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            </h3>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
            </p>
          </ion-label>
          <ion-thumbnail slot="end">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
        </ion-item><ion-item >
          <ion-thumbnail slot="start">
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            </h3>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
            </p>
          </ion-label>
          <ion-thumbnail slot="end">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
        </ion-item><ion-item >
          <ion-thumbnail slot="start">
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            </h3>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
            </p>
          </ion-label>
          <ion-thumbnail slot="end">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
        </ion-item><ion-item >
          <ion-thumbnail slot="start">
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            </h3>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
            </p>
          </ion-label>
          <ion-thumbnail slot="end">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
        </ion-item><ion-item >
          <ion-thumbnail slot="start">
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            </h3>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
            </p>
          </ion-label>
          <ion-thumbnail slot="end">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
        </ion-item><ion-item >
          <ion-thumbnail slot="start">
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            </h3>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
            </p>
          </ion-label>
          <ion-thumbnail slot="end">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
        </ion-item>
    
    </ion-list>
 -->

    
    
  </ion-content>