<ion-header>
  <ion-toolbar color="secondary">

   
    <!-- <ion-buttons slot="end">
      <ion-button (click)="logout()" >
        <ion-icon color="danger"  slot="icon-only" name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>
      Bienvenido {{nombre}}
    </ion-title>
   
  </ion-toolbar>
  <ion-toolbar>
    <!-- <ion-list-header>Apariencia</ion-list-header> -->
   
        <ion-buttons  slot="start">
        <ion-button  (click)="toggleChange($event)" shape="round" size="large">
          <ion-icon slot="icon-only" name="invert-mode-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
      
        <ion-button  (click)="logout()" >
          <ion-icon color="danger"  slot="icon-only" name="power-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
        <!-- <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between"
          >Modo Oscuro</ion-toggle
        > -->

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of menu">
        <ion-card button (click)="goToPage(item.ruta)">
          <ion-card-content class="menu-card">
            <ion-icon [name]="item.icono" [color]="item.color" size="large"></ion-icon>
            <h2>{{ item.nombre }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
