<ion-header>
  <ion-toolbar>

   

    <ion-title>
      Bienvenido Euler
    </ion-title>
   
  </ion-toolbar>
  <ion-toolbar>
    <!-- <ion-list-header>Apariencia</ion-list-header> -->
    <ion-list [inset]="true">
      <ion-item>
        <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between"
          >Modo Oscuro</ion-toggle
        >
      </ion-item>
    </ion-list>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of menu">
        <ion-card button (click)="goToPage(item.ruta)">
          <ion-card-content class="menu-card">
            <ion-icon [name]="item.icono" size="large"></ion-icon>
            <h2>{{ item.nombre }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
